<div class="block block--project ekpac">
	<div class="project__header"></div>
	<article class="column">
		<h2 class="project__title"><span class="kern">Ekpac Sourcing</span></h2>

		<aside class="project__detail">
      <span class="project__year">2013</span>
			<ul class="project__services">
				<li>Identity</li>
				<li>Web Design</li>
				<li>Code</li>
			</ul>
		</aside>

		<p class="project__description">Ekpac started in Hong Kong as seafaring merchants, evolving over the course of a century into an industrial conglomerate operating across diverse construction and manufacturing sectors. A standalone marketing website was commissioned as part of an initiative to grow the sourcing division into a core line-of-business for the group. The nature of sourcing for large scale industrial organization means generating sales comes down to the efforts and expertise of Ekpac’s global sales force. The website was designed accordingly around the purpose of reinforcing the company’s reputation for quality and service. Additionally, a concept for a visual identity redesign was developed for Ekpac to explore the possibility of a broader refresh of the corporate brand.</p>

		<figure class="project__figure">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-responsive-lg.png, assets/ekpac-responsive-lg@2x.png 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-responsive-md.png, assets/ekpac-responsive-md@2x.png 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-responsive-sm.png, assets/ekpac-responsive-sm@2x.png 2x" >
      </picture>
		</figure>

		<figure class="project__figure">
			<video autoplay loop class="">
				<source src="assets/ekpac-process.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
				<source src="assets/ekpac-process.webm" type="video/webm; codecs=vp8,vorbis">
				<source src="assets/ekpac-process.ogv" type="video/ogg; codecs=theora,vorbis">
			</video>
			<figcaption class="project__caption--ekpac left">The sourcing business’s process and approach was presented as candidly as possible to stand out in China’s industrial sector, which is often perceived as opaque and impenetrable.</figcaption>
		</figure>

		<figure class="project__figure">
      <picture class="bordered half">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-products-lg.jpg, assets/ekpac-products-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-products-md.jpg, assets/ekpac-products-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-products-sm.jpg, assets/ekpac-products-sm@2x.jpg 2x" >
      </picture>

      <hr class="hr">

      <picture class="bordered half last">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-excellence-lg.jpg, assets/ekpac-excellence-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-excellence-md.jpg, assets/ekpac-excellence-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-excellence-sm.jpg, assets/ekpac-excellence-sm@2x.jpg 2x" >
      </picture>
		</figure>

    <hr class="hr">

		<figure class="project__figure">
      <picture class="bordered">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-id-beforeAfter-lg.jpg, assets/ekpac-id-beforeAfter-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-id-beforeAfter-md.jpg, assets/ekpac-id-beforeAfter-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-id-beforeAfter-sm.jpg, assets/ekpac-id-beforeAfter-sm@2x.jpg 2x" >
      </picture>

      <figcaption class="project__caption--ekpac left">The new mark is distinguished by a sleek, agile form – a visualization of Ekpac’s persistent forward momentum. The redesign as a whole preserves and repurposes elements of the old identity, paying respect to the company’s rich heritage.</figcaption>
		</figure>

		<figure class="project__figure">
      <picture class="bordered half">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-id-heritage-lg.jpg, assets/ekpac-id-heritage-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-id-heritage-md.jpg, assets/ekpac-id-heritage-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-id-heritage-sm.jpg, assets/ekpac-id-heritage-sm@2x.jpg 2x" >
      </picture>

      <picture class="bordered half last">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-id-wordmark-lg.jpg, assets/ekpac-id-wordmark-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-id-wordmark-md.jpg, assets/ekpac-id-wordmark-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-id-wordmark-sm.jpg, assets/ekpac-id-wordmark-sm@2x.jpg 2x" >
      </picture>
		</figure>

		<figure class="project__figure">
      <picture class="bordered half">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-id-lockups-lg.jpg, assets/ekpac-id-lockups-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-id-lockups-md.jpg, assets/ekpac-id-lockups-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-id-lockups-sm.jpg, assets/ekpac-id-lockups-sm@2x.jpg 2x" >
      </picture>

      <picture class="bordered half last">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="assets/ekpac-id-colors-lg.jpg, assets/ekpac-id-colors-lg@2x.jpg 2x" media="(min-width: 48.0625em)" >
        <source srcset="assets/ekpac-id-colors-md.jpg, assets/ekpac-id-colors-md@2x.jpg 2x" media="(min-width: 30em)" >
        <!--[if IE 9]></video><![endif]-->
        <img srcset="assets/ekpac-id-colors-sm.jpg, assets/ekpac-id-colors-sm@2x.jpg 2x" >
      </picture>
		</figure>

	</article>
</div>