<div class="block block--project juniorchefacademy">
	<div class="project__header"></div>
	<article class="column">
		<h2 class="project__title">Junior Chef Academy</h2>

		<aside class="project__detail">
			<span class="project__year">2013</span>
			<ul class="project__services">
				<li>Identity</li>
				<li>Web Design</li>
				<li>Code</li>
			</ul>
		</aside>

		<p class="project__description">Junior Chef Academy offers a one-of-a-kind extra-curricular learning experience for kids and teenagers, which happens to be a particularly crowded space in Hong Kong. Founder Judy Li subverts the typical recipe-based approach to cooking classes, instead teaching basic kitchen skills and simple preparations with a focus on nutritional, wholesome eating, giving her students a headstart on building healthy eating habits and self-sufficiency in the kitchen. This project was a joy to work on! The visual identity design struck a great balance between the playfulness of the class experience and the seriousness of underlying teachings. Print collateral and a landing page was created to promote their inaugural series of summer classes.</p>

		<!-- <figure class="project__figure">
      <img src="assets/hh-responsive.png" alt="">
		</figure> -->

	</article>
</div>