<div class="block block--project juniorchefacademy">
	<div class="project__header"></div>
	<article class="column">
		<h2 class="project__title">Junior Chef Academy</h2>

		<aside class="project__detail">
			<ul class="project__services">
				<li>Identity</li>
				<li>Web Design</li>
				<li>Code</li>
			</ul>
			<span class="project__year">2013</span>
		</aside>

		<p class="project__description">Gastropub Etsy narwhal, selvage sustainable quinoa Brooklyn banh mi XOXO selfies Tumblr cray tote bag banjo polaroid. Umami Neutra seitan raw denim mustache. Williamsburg Godard Echo Park pug street art. Direct trade bespoke tofu Williamsburg, ethnic hoodie letterpress gastropub next level. Pitchfork kale chips gluten-free Pinterest. Paleo crucifix keytar, swag Marfa trust fund readymade irony twee iPhone. Tofu mlkshk distillery DIY, aesthetic ethnic Kickstarter banjo single-origin coffee ennui PBR 8-bit gluten-free whatever.</p>

		<!-- <figure class="project__figure">
      <img src="assets/hh-responsive.png" alt="">
		</figure> -->

	</article>
</div>