//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Utility                                                      /
//         TITLE: Breakpoints                                                  /
//                                                                             /
//=============================================================================/

$breakpoint-to-ems: true;

$phone: 321px;

$phoneL: 481px;

$phablet: 533px;

$tablet: 769px;

$laptop: 981px;

$desktop: 1200px;

// $large: 1360px;

// $larger: 1600px;