//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Utility                                                      /
//         TITLE: Font Definitions                                             /
//                                                                             /
//=============================================================================/

// Kepler Std
%keplerLight {
  font-family: "kepler-std",serif;
  font-style: normal;
  font-weight: 300;
}

%keplerLightItalic {
  font-family: "kepler-std",serif;
  font-style: italic;
  font-weight: 300;
}

%keplerRegular {
  font-family: "kepler-std",serif;
  font-style: normal;
  font-weight: 400;
}

%keplerItalic {
  font-family: "kepler-std",serif;
  font-style: italic;
  font-weight: 400;
}

%keplerMedium {
  font-family: "kepler-std",serif;
  font-style: normal;
  font-weight: 500;
}

%keplerMediumItalic {
  font-family: "kepler-std",serif;
  font-style: italic;
  font-weight: 500;
}