//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Utility                                                      /
//         TITLE: Font Definitions (Calluna Sans)                              /
//                                                                             /
//=============================================================================/

// Calluna
%callunaSansLight {
  font-family: "calluna-sans","Gill Sans",Calibri,"Trebuchet MS",sans-serif;
  font-style: normal;
  font-weight: 300;
}

%callunaSans {
  font-family: "calluna-sans","Gill Sans",Calibri,"Trebuchet MS",sans-serif;
  font-style: normal;
  font-weight: 400;
}

%callunaSansSemibold {
  font-family: "calluna-sans","Gill Sans",Calibri,"Trebuchet MS",sans-serif;
  font-style: normal;
  font-weight: 600;
}