//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Utility                                                      /
//         TITLE: Font Definitions (Calluna)                                   /
//                                                                             /
//=============================================================================/

// Calluna
%callunaLight {
  font-family: "calluna", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 300;
}

%callunaRegular {
  font-family: "calluna", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
}

%callunaItalic {
  font-family: "calluna", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
}