//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Utility                                                      /
//         TITLE: Font Definitions (Verlag)                                    /
//                                                                             /
//=============================================================================/

// Verlag
%verlagExtraLight {
  font-family: 'Verlag 2r', 'Verlag A', 'Verlag B';
  font-weight: 200;
  font-style: normal;
}

%verlagExtraLightItalic {
  font-family: 'Verlag 2i', 'Verlag A', 'Verlag B';
  font-weight: 200;
  font-style: italic;
}

%verlagLight {
  font-family: 'Verlag 3r', 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
}

%verlagLightItalic {
  font-family: 'Verlag 3i', 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
}

%verlagBook {
  font-family: 'Verlag 4r', 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: normal;
}

%verlagBookItalic {
  font-family: 'Verlag 4i', 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: italic;
}

%verlagBold {
  font-family: 'Verlag 7r', 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: normal;
}

%verlagBoldItalic {
  font-family: 'Verlag 7r', 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: italic;
}

%verlagBlack {
  font-family: 'Verlag 8r', 'Verlag A', 'Verlag B';
  font-weight: 800;
  font-style: normal;
}

%verlagBlackItalic {
  font-family: 'Verlag 8i', 'Verlag A', 'Verlag B';
  font-weight: 800;
  font-style: italic;
}