//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Atom                                                         /
//         TITLE: Colors                                                       /
//                                                                             /
//=============================================================================/

$neon-pink: rgb(238, 95, 129);

$neon-1: #EC5587;
$neon-2: #FCEB3D;
$neon-3: #A7DB7D;
$neon-4: #52B8C4;
$neon-5: #D336FF;