//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Atom                                                         /
//         TITLE: <hr>                                                         /
//                                                                             /
//=============================================================================/

.hr {
  width: 25%;
  height: 2px;
  border: none;

  margin: 2.945rem auto;

  @include breakpoint($tablet) {
    display: none;
  }
}