//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Atom                                                         /
//         TITLE: <hr>                                                         /
//                                                                             /
//=============================================================================/

.hr {
  width: 25%;
  height: 1px;

  @include breakpoint($tablet) {
    width: 20%;
  }
}