//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Atom                                                         /
//         TITLE: Text                                                         /
//                                                                             /
//=============================================================================/

// Default text style
%text {
  @extend %callunaLight;
  font-size: 1rem;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  color: #212121;

  margin: auto auto 1rem;

  @include breakpoint($desktop) {
    line-height: 1.6;
  }
}

p {
  margin: auto auto 1rem;
}