//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Quark                                                        /
//         TITLE: Social Link Hover Effect                                     /
//                                                                             /
//=============================================================================/

/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border-width: 1px;
  border-style: solid;
  // border-color: $neon-pink;
  // @include tran(border, $neon-pink, 0.35, lighten);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms, opacity 200ms;
  -moz-transition: -moz-transform 200ms, opacity 200ms;
  transition: transform 200ms, opacity 200ms;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);

  @include breakpoint(25em) {
    width: 32px;
    height: 32px;
  }
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after,
.cl-effect-12 a:active::before,
.cl-effect-12 a:active::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

// Ring Colors
.icon {
  &--phone {
    &::before,
    &::after {
      border-color: $neon-1;
    }
  }


  &--twitter {
    &::before,
    &::after {
      border-color: $neon-2;
    }
  }

  &--instagram {
    &::before,
    &::after {
      border-color: $neon-3;
    }
  }

  &--tumblr {
    &::before,
    &::after {
      border-color: $neon-4;
    }
  }

  &--email {
    &::before,
    &::after {
      border-color: $neon-5;
    }
  }
}
