//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Molecule                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/
.loaded {
  .main-title {
    opacity: 1 !important;
    @include transition(opacity 900ms);
  }

  [role="navigation"] {
    opacity: 1 !important;
    @include transition(opacity 900ms 900ms);
  }

  .block {
    opacity: 1 !important;
    -ms-transform: translateY(0);
    @include translateY(0,0);
    @include transition(transform 600ms 1800ms);
  }
}