//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Molecule                                                     /
//         TITLE: Site Navigation                                              /
//                                                                             /
//=============================================================================/

nav {
  padding: 3.1rem 0 0.618rem;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

// <ul>
.navigation {
  @extend %horizontal-list;

  // Type
  @extend %verlagBook;
  text-transform: uppercase;
  font-size: 0.695rem;
  line-height: 1;

  @include breakpoint(400px) {
    letter-spacing: 1px;
  }

  @include breakpoint($tablet) {
    font-size: 0.833rem;
  }

  @include breakpoint($laptop) {
    font-size: 0.833rem;
    max-width: 34.8306782768rem;
  }
}

  .navigation li:not(:last-of-type) {
    &:after {
      content: " /";
      font-size: 150%;
      font-weight: 300;
      // font-style: italic;
      color: $neon-pink;
      margin: 0 2px;

      @include breakpoint(400px) {
        font-style: italic;
        margin: 0 0.1666666667rem;
      }
    }
  }

  .navigation a {
    &:link,
    &:visited {
      color: #a4a4a4;
    }

    &:hover,
    &:focus {
      color: #6b6b6b;
    }

    &:active {
      color: #6b6b6b;
    }

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @extend %noTap;
    }
  }

  // <span>
  .xs {
    @include breakpoint(520px) {
      display: none;
    }
  }

  .md {
    display: none;

    @include breakpoint(520px) {
      display: inline;
    }
  }

// DISABLED LINK
#disabled {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: #ebebeb;
    text-decoration: line-through;
  }
}