//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Molecule                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/

// <a>
#mark {
  display: block;
  padding: 0.618rem;
  margin-left: -1.125rem;

  @include breakpoint($tablet) {
    display: none;
  }
}

// <svg>
#site-logo {
/*   @include breakpoint(600px) {
    width: 200%;
    height: 200%;
  } */

  /* @include breakpoint($tablet) {
    width: 20.8475px;
    height: 47.2715px;
  } */
}

#monogram {
  // display: none;
  fill: #f0f0f0;

  @include breakpoint($tablet) {
    // display: block;
  }
}

#slash {

}

// <svg>
/* #mark-monogram {
  // display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.833rem 0.833rem 0.833rem 0;

  fill: #fafafa;
}

#mark-slash {
  position: absolute;
  top: 0;
  left: 0.382rem;
  padding: 0.618rem;
} */