//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE: Site Title                                                   /
//                                                                             /
//=============================================================================/

// <h1>
.main-title {
  // @extend %hero-column;

  @extend %callunaLight;
  font-size: 1.82rem;
  line-height: 1.2;
  color: #3e3e3e;

  // padding-top: 5%;

  @include breakpoint($tablet) {
    font-size: 2.182rem;
  }

  @include breakpoint($laptop) {
    font-size: 2.618rem;
    // max-width: 34.8306782768rem;
  }

  -webkit-backface-visibility: hidden;
}