//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/


.browser-rejection-overlay {
  background: #111;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}


.browser-rejection-overlay .xFull {
  max-width: 1500px;
  border: 15px solid transparent;
  border-width: 0 15px;
}


.browser-rejection-overlay .the-logo {
  height: 76px;
  position: relative;
  z-index: 3;
  // background: url("../img/typecode_sm_white_v2.png") center left no-repeat transparent;
}


.browser-rejection-overlay .the-error {
  z-index: 1;
}


.browser-rejection-overlay .bigtext {
  font-weight:700;
  font-size: 6.854em;
  line-height: 1;
  letter-spacing: -0.06em;
  margin-left: -0.12em;
  height: 0.95em;
  overflow: hidden;
  position: relative;
}


.browser-rejection-overlay .description {
  margin-left: .2em;
  font-family: Georgia, serif;
  font-size: 1.65em;
  line-height: 1.5em;

  width: 75%;
  min-width: 325px;
}


.browser-rejection-overlay .description p {
  margin-bottom: 0.5em;
  color: rgba(255,255,255,0.65);
}


.browser-rejection-overlay .description a {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}


.browser-rejection-overlay .description a:hover {
  border-bottom-color: #fff;
}

.browser-rejection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.browser-rejection-overlay .bigtext {
  margin-left: -0.09em;
  letter-spacing: -0.03em;
}
.browser-rejection-overlay .bigtext .first-letter {
  letter-spacing: -0.05em;
}

.browser-rejection-overlay .description p {
  color: #aaa;
}

.browser-rejection-overlay .description a {
  border-bottom-color: #aaa;
}