//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/

.browser-rejection {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;

  background: #181818;
  color: #efefef;
  -webkit-font-smoothing: antialiased;
}

.browser-rejection .maxwidth {
  max-width: 1500px;
  border: 15px solid transparent;
  border-width: 0 15px;
}

.browser-rejection-error {
  z-index: 1;
  max-width: 660px;
  margin: 0 auto;
}

.browser-rejection-error__bigtext {
  @extend %callunaBold;
  font-size: 6.854em;
  line-height: 1;
  letter-spacing: -2px;
  color: #dedede;

  margin-top: 0.833em;
  margin-left: -0.06em;
  margin-bottom: 0.236em;
  height: 0.95em;
  overflow: hidden;
  position: relative;
}


.browser-rejection-error__description {
  margin-left: .2em;
  // @extend %callunaRegular;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.65em;
  // line-height: 1.348;
  line-height: 1.4;
  color: #aaa;
  color: rgba(255,255,255,0.65);

  // width: 75%;
  min-width: 325px;
  max-width: 660px;
  margin-bottom: 0.5em;
}

  .browser-rejection-error__description a {
    text-decoration: none;

    &:link,
    &:visited {
      color: #efefef;
      border-bottom: 2px solid #eaeaea;
    }

    &:focus,
    &:hover {
      color: #fff;
      border-bottom: 2px solid #fff;
    }

    &:active {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }

.browser-rejection {
  .neon {
    padding: 0 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .neon-1 {
    border-bottom-color: #f47574;
  }

  .neon-2 {
    border-bottom-color: #fbd843;
  }

  .neon-3 {
    border-bottom-color: #cde760;
  }

  .neon-4 {
    border-bottom-color: #92d28f;
  }

  .neon-5 {
    border-bottom-color: #58bac0;
  }

  .neon-6 {
    border-bottom-color: #d336ff;
  }
}