//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE: <figure> chunks within block--project                        /
//                                                                             /
//=============================================================================/

// <figure>
.project__figure {
  @extend .cf;
  position: relative;
  width: 100%;
  clear: both;
  margin: 2.618rem 0;

  @include breakpoint($tablet) {
    margin: 4.236rem 0;
  }
}

// <figcaption>
.project__figure figcaption {
  @extend %callunaSansLight;
  font-size: 0.9rem;
  line-height: 1.348;
  // text-indent: -1.215rem;
}

.project__caption {

  // <figcaptions>s that go BELOW images
  &--below {
    position: relative;
    clear: both;
    margin-left: 1.215rem;
    padding: 0.938rem 0 1.618rem;
    text-indent: -1.215rem;

    /* @extend %callunaSansLight;
    font-size: 0.9rem;
    line-height: 1.348;
    text-indent: -1.215rem; */

    &:before {
      content: '\2191';
      margin-right: 0.382rem;
    }

    @include breakpoint($tablet) {
      padding: 1.125rem 0 2.618rem;

      &.left {
        padding-right: 40%;
      }

      &.right {
        padding-left: 40%;
      }
    }
  }

  // <figcaption>s that go LEFT OR RIGHT of images
  &--left,
  &--right {
    float: left;
    @include calc(width, "50% - 1.5rem");
  }

  &--left {
    &:after {
      // Arrow points RIGHT
      content: '\2192';
      float: right;
      padding-top: 1rem;
    }

    + .half.fixed,
    + img,
    + picture {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }

  &--right {
    float: left;
    margin-left: 0.75rem;
    text-indent: -1.215rem;

    &:before {
      // Arrow points LEFT
      content: '\2190';
      margin-right: 0.382rem;
    }
  }
}


