//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/

// Base color scheme & styles
.harmonyhome {
  background-color: lighten(#8dd7c3, 27);
  color: darken(#8dd7c3, 57);
}

.harmonyhome .project__header {
  background-image:url('../assets/harmonyhome/hh-header.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    @include background-image(linear-gradient(top,
      rgba(255, 255, 255, 0.0001),
      lighten(#8dd7c3, 27)
    ));
  }
}

  // Project Title
  .harmonyhome .project__title {
    @include tran(color, lighten(#1a4b3e, 0), 0.85, lighten);
    @include tran(border, lighten(#1a4b3e, 12), 0.5, lighten);
  }

  // Services text/list
  .harmonyhome .project__info {
    @include tran(color, darken(#1a4b3e, 2), 0.95, lighten);
  }

    // Slash delimiting services
    .harmonyhome .project__services li:after {
      @include tran(color, lighten(#1a4b3e, 2), 0.7, lighten);
    }

  // <img> inside <figure>
  .harmonyhome .bordered {
    @include box-shadow(0 0 0 1px #f2f2f2);
  }

  // <hr>
  .harmonyhome .hr {
    background-color: darken(#8dd7c3, 10);
    border-bottom: 1px solid desaturate(lighten(#8dd7c3, 10), 5%);
  }

  // Caption text
  .project__caption--harmonyhome {
    color: desaturate(lighten(#1a4b3e, 20), 20%);

    &:before {
      color: #0375B3;
      font-weight: 600;
    }
  }