//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE:                                                              /
//                                                                             /
//=============================================================================/

// Base color scheme
.juniorchefacademy {
  background-color: rgba(129, 0, 14, 1.000);
  color: #fafafa;
}

.juniorchefacademy .project__header {
  height: 25rem;

  background-image:url('../assets/jca-header.jpg');
  background-position: center -3rem;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    // height: 50%;

    @include background-image(linear-gradient(top,
      rgba(129, 0, 14, 0.001) 35%,
      // lighten(#81000e, 27)
      rgba(129, 0, 14, 1.000)
    ));
  }

  @include breakpoint($tablet) {
    height: 35rem;
  }
}

.juniorchefacademy.juniorchefacademy .column {
  margin-top: -20rem;
}

  // Project Title
  .juniorchefacademy .project__title {
    // @include tran(color, lighten(#1a4b3e, 0), 0.85, lighten);
    @include tran(border, #eaeaea, 0.6, lighten);
  }

  // Services text/list
  .juniorchefacademy .project__detail {
    // @include tran(color, darken(#1a4b3e, 2), 0.95, lighten);
  }

    // Slash delimiting services
    .juniorchefacademy .project__services li:after {
      @include tran(color, #eaeaea, 0.6, lighten);
      font-weight: 600;
    }

  // Description
  .juniorchefacademy .project__description {
    font-weight: 400;
  }

  // Caption text
  .juniorchefacademy figcaption {
    color: desaturate(lighten(#1a4b3e, 45), 30%);
  }