//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE: <img> within .project__figure                                /
//                                                                             /
//=============================================================================/

.project__figure img {
  max-width: 100%;
}

/**
 * The following classes are appended to <img> to declare size/positioning
 */

.full {

}

.half {
  width: 100%;
  margin-bottom: 1.5rem;

  &.fixed {
    margin-right: 1.5rem;
    float: left;
    @include calc(width, "50% - 0.75rem");
  }

  @include breakpoint($tablet) {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0;
    @include calc(width, "50% - 0.75rem");
  }
}

.third {
  width: 100%;

  @include breakpoint($tablet) {
    float: left;
    margin-right: 1.5rem;
    @include calc(width, "(100% / 3) - 1rem");
  }
}

.last {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.padded {

}

.bordered {
  // border: 1px solid #eaeaea;
  @include box-shadow(0 0 0 1px #f2f2f2);
}