//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE: Social                                                       /
//                                                                             /
//=============================================================================/

// <svg> Base styles
.icon {
  height: 4.236rem;
  width: 2rem;

  @include breakpoint(25em) {
    height: 3rem;
  }

  fill: #555555;
}

// <a> wraps <svg>
.social > li > a {
  @extend %noTap;

  // States
  &:hover,
  &:focus {
    outline: none;

    .icon {
      fill: #c4c4c4;
    }
  }

  &:active {

  }

  // Interaction effect base styles
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 200ms, opacity 200ms;
    -moz-transition: -moz-transform 200ms, opacity 200ms;
    transition: transform 200ms, opacity 200ms;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);

    @include breakpoint(25em) {
      width: 1.9rem;
      height: 1.9rem;
    }
  }

  // Interaction effect hover/focus/touch states
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after,
  &:active::before,
  &:active::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

// Ring Colors
.icon {
  &--phone {
    &::before,
    &::after {
      border-color: $neon-1;
    }
  }

  &--twitter {
    &::before,
    &::after {
      border-color: $neon-2;
    }
  }

  &--instagram {
    &::before,
    &::after {
      border-color: $neon-3;
    }
  }

  &--tumblr {
    &::before,
    &::after {
      border-color: $neon-4;
    }
  }

  &--email {
    &::before,
    &::after {
      border-color: $neon-5;
    }
  }
}