<footer class="block block--footer">
  <div class="column">
  	<ul class="social cl-effect-12">
  		<li><a href="" class="icon icon--phone">{% include svg/phone.svg %}</a></li>
  		<li><a href="https://twitter.com/mj12albert" target="_blank" class="icon icon--twitter">{% include svg/twitter.svg %}</a></li>
  		<li><a href="http://instagram.com/mj12albert" target="_blank" class="icon icon--instagram">{% include svg/instagram.svg %}</a></li>
  		<li><a href="http://tumblr.albertyu.co/" target="_blank" class="icon icon--tumblr">{% include svg/tumblr.svg %}</a></li>
  		<li><a href="mailto:albert@albertyu.co" class="icon icon--email">{% include svg/email.svg %}</a></li>
  	</ul>
		<small class="legal">&copy; 2014 Albert Yu</small>
  </div>
</footer>