<section class="hero">

  <header class="header">

    <h1 class="main-title">Albert Yu is a freelance designer and developer in Hong Kong. He does not write nor speak in the third person.</h1>

    <nav role="navigation">
      <ul class="navigation">
        <li><a data-scroll href="#projects">Projects</a></li>
        <li><a data-scroll href="#information"><span class="xs">Info</span><span class="md">Information</span></a></li>
        <li><a href="http://journal.albertyu.co" id="disabled">Journal</a></li>
        <li><a href="#contact" class="trigger-overlay top">Contact</a></li>
      </ul>
    </nav>
  </header>

</section>