---
title: Albert Yu | Design + Code
---

{% include document-header.html %}

  <!-- SVG SPRITE SHEET -->
  {% include icons.svg %}

  <div class="container" role="main">
    <!-- HEADER -->
    {% include page-header.html %}

    <!-- PROJECTS -->
    <a id="projects"></a>
    {% include projects/harmonyhome.html %}
    {% include projects/ekpac.html %}
    {% include projects/juniorchefacademy.html %}

    <!-- INFORMATION -->
    {% include section-information.html %}
    {% include section-contact.html %}

    <!-- FOOTER -->
    {% include page-footer.html %}
  </div>

  <!-- OVERLAY -->
  {% include overlay-contact.html %}

{% include document-footer.html %}