//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Template                                                     /
//         TITLE: Site Footer                                                  /
//                                                                             /
//=============================================================================/

// <footer>
.block--footer {
  // padding: 1rem 0;

  line-height: 1;

  background-color: #262626;
  color: #808080;

  @include font-feature-settings(lnum);
}

.block--footer .column {
  @include breakpoint(25em) {
    padding: 1rem 0;
  }
}

  // <ul>
  .social {
    @extend %horizontal-list;

    // float: right;

    font-size: 0;
    line-height: 0;
    text-align: center;

    @include breakpoint(25em) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

    .social > li:not(:last-of-type) {
      margin-right: 1.125rem;

      @include breakpoint(25em) {
        margin-right: 0.2222222222rem;
      }

    }

    // <a>
    .social > li > a {
      position: relative;
      display: inline-block;
    }

  // <small>
  .legal {
    // padding: 1rem 0;
    display: none;

    @include breakpoint(25em) {
      display: inline;
    }
  }