//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Organism                                                     /
//         TITLE: Site Header                                                  /
//                                                                             /
//=============================================================================/

// <section>
.hero {
  position: relative;
  width: 95%;
  margin-left: 5%;
  background: #fdfdfd;

  @include breakpoint($tablet) {
    width: 80%;
    max-width: 66.6666666667rem; // 1200px/18
    height: 90vh;
    margin: 0 auto;
  }

  @include breakpoint(48.0625em) {

  }

  @include breakpoint($desktop) {
    max-width: 48.4848484848rem;
  }
}

  // <header>
  .header {
    @extend %hero-column;
    margin: 0 auto 0 0;
    padding-top: 5%;
    padding-bottom: 4.765rem;

    @include breakpoint($tablet) {
      padding-top: 10%;
    }
  }