//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Template                                                     /
//         TITLE: Contact Block                                                /
//                                                                             /
//=============================================================================/

.block--contact {
  background-color: #2e2e2e;

  @include breakpoint($tablet) {
    padding-top: 9.241rem;
  }
}

  // <h2>
  .block__title--contact {
    @extend %callunaLight;
    font-size: 1.618rem;
    line-height: 1.2;
    color: #c4c4c4;
    margin-bottom: 2.618rem;

    @include breakpoint($tablet) {
      font-size: 1.348rem;
    }

    @include breakpoint($laptop) {
      font-size: 1.618rem;
    }
  }