//=============================================================================/
//                          THE STUDIO OF ALBERT YU                            /
//=============================================================================/
//                                                                             /
//       PROJECT: albertyu.co                                                  /
//        CLIENT: Albert Yu                                                    /
//   DELIVERABLE: Website Prototype                                            /
//         CLASS: Template                                                     /
//         TITLE: Information/Profile Block                                    /
//                                                                             /
//=============================================================================/

// <div>
.block--information {
  padding-top: 2.945rem;

  @include breakpoint($tablet) {
    // padding-top: 9.241rem;
  }
}

  // <svg>
  .block--information .mark {
    position: relative;
    display: block;
    margin: 0 auto 2.618rem;
    padding-right: 0.833rem;
  }

  // <h2>
  .block__title--information {
    @extend %text;
  }